{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block styles %}

{{ super() }}
<link href="static/css/styles.css" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. -->

          <thead>
            <tr>
                <th scope="col">name</th>
                <th scope="col">map_url</th>
                <th scope="col">location</th>
                <th scope="col">seats</th>
                <th scope="col">has toilet</th>
                <th scope="col">coffee price</th>
                <th scope="col"></th>
            </tr>
          </thead>

          {% for row in cafes: %}

          <tbody>
            <tr>
                <th scope="row">{{ row.name }}</th>
                <td><a href="{{ row.map_url }}" >Maps Link</a></td>
                <td>{{ row.location }}</td>
                <td>{{ row.seats }}</td>
                <td>{{ row.has_toilet }}</td>
                <td>{{ row.coffee_price }}</td>
                <td><a href="{{ url_for('delete_cafe', id=row.id) }}">Delete</a></td>
<!--                <td>{{ row.id }}</td>-->
            </tr>
          </tbody>

          {% endfor %}
  	  </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
